# TALLER 1.1

1. Escribe un programa en Python para imprimir la siguiente cadena en un formato especÃ­fico (ver la salida). Ir al editor
Cadena de ejemplo : "Brilla, brilla, estrellita, Â¡CÃ³mo me pregunto quÃ© eres! Por encima del mundo tan alto, Como un diamante en el cielo. Twinkle, twinkle, little star, How I wonder what you are" Salida :

Twinkle, twinkle, little star,
    How I wonder what you are! 
    	Up above the world so high,   		
    	Like a diamond in the sky. 
Twinkle, twinkle, little star, 
    How I wonder what you are

In [10]:
print("Brilla, brilla, estrellita,\n   Â¡CÃ³mo me pregunto quÃ© eres!\n     Por encima del mundo tan alto,\n     Como un diamante en el cielo.\n Twinkle, twinkle, little star,\n   How I wonder what you are")

Brilla, brilla, estrellita,
   Â¡CÃ³mo me pregunto quÃ© eres!
     Por encima del mundo tan alto,
     Como un diamante en el cielo.
 Twinkle, twinkle, little star,
   How I wonder what you are

2. Escribe un programa en Python para mostrar la fecha y la hora que lees en tu pantalla.

In [12]:
import datetime
hora=datetime.datetime.now()

print(hora)

2022-10-30 23:08:35.023386

3. Escribir un programa en Python que acepte la base y la altura de un triÃ¡ngulo y calcule el Ã¡rea

In [16]:
base=float(input("Digite la base del triangulo: "))
altura=float(input("Digite la altura del triangulo: "))
area=(base*altura)/2

print("El area del triangulo es: ",area)

Digite la base del triangulo: 23
Digite la altura del triangulo: 45
El area del triangulo es:  517.5

4.Escribe un programa en Python que acepte el nombre y el apellido del usuario y los imprima en orden inverso con un espacio entre ellos.

In [33]:
nombre=input("Digite el nombre : ")
apellido=input("Digite el apellido: ")

nombre_apellido=nombre+" "+apellido
    
print ((nombre_apellido)[::-1])
print ((nombre)[::-1]+" "+(apellido)[::-1])

Digite el nombre : Luis
Digite el apellido: Castillo
ollitsaC siuL
siuL ollitsaC

# TALLER 1.2

1.Â¿QuÃ© nÃºmero entero representa el hexadecimal 0x1c ?

In [50]:
#REPRESENTA EL NUMERO 28
a=int(0x1c)
print(a)

28

2.Â¿CuÃ¡l es el tipo de dato de 8.1238812?

In [48]:
#ES FLOAT
print(type(8.1238812))

<class 'float'>

3.Â¿Cual es el tipo de dato de un emoji 'ðŸ˜Š'?

In [47]:
#ES UN STRING
a='ðŸ˜Š'
print(type(a))

<class 'str'>
ðŸ˜Š

4.Â¿Porque el numero octal 0o8 esta mal escrito?

In [41]:
#PORQUE EL RANGO DE LOS NUMEROS OCTALES ES DE 0 a 7.

5.Â¿Que tipo de dato es False?

In [36]:
#ES FALSO
print(type(False))

<class 'bool'>

# TALLER 1.4

1.Escribe un programa en Python para convertir temperaturas a y desde celsius, fahrenheit.
[FÃ³rmula : c/5 = f-32/9 [ donde c = temperatura en celsius y f = temperatura en fahrenheit ]

Resultado esperado : 60Â°C es 140 en Fahrenheit 45Â°F es 7 en Celsius

In [3]:
c=float(input("Digite grados celsius: "))
f=float(input("Digite grados fahrenheit: "))
cr=round((f-32)*5/9,0)
fr=round((c*9/5)+32,0)

print(c,"Â°C es ",fr,"Â°F")
print(f,"Â°F es ",cr,"Â°C")

Digite grados celsius: 60
Digite grados fahrenheit: 45
60.0 Â°C es  140.0 Â°F
45.0 Â°F es  7.0 Â°C

2.Escribe un programa en Python para calcular la edad de un perro en aÃ±os de perro
Nota: Durante los dos primeros aÃ±os, un aÃ±o canino equivale a 10,5 aÃ±os humanos. DespuÃ©s, cada aÃ±o canino equivale a 4 aÃ±os humanos. Resultado esperado:

Introduzca la edad de un perro en aÃ±os humanos: 15
La edad del perro en aÃ±os de perro es 73

In [16]:
aÃ±os=int(input("Digite los aÃ±os humanos: "))
edad_perro=0
cont=0
if(a>1):
    edad_perro+=21
for a in range(aÃ±os):   
    if(a>=2):
        cont+=4

edad_perro=edad_perro+cont

print(aÃ±os,"aÃ±os humanos son ",edad_perro,"aÃ±os perro")

Digite los aÃ±os humanos: 15
15 aÃ±os humanos son  73 aÃ±os perro

3.Escribe un programa en Python para comprobar si un alfabeto es una vocal o una consonante
Salida esperada:

Introduce una letra del alfabeto: k

k es una consonante.

In [23]:
letra=input("Digite una letra: ")
if(letra=='a'or letra=='e'or letra=='i'or letra=='o'or letra=='u'
  or letra=='A'or letra=='E'or letra=='I'or letra=='O'or letra=='U'):
    print(letra+" Es una vocal")
else:
    print(letra+" Es una consonante")

Digite una letra: k
k Es una consonante

4.Escribe un programa en Python para convertir el nombre del mes en un nÃºmero de dÃ­as
Salida esperada:

Lista de meses: Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto , septiembre, octubre, noviembre, diciembre
Introduzca el nombre del mes: Febrero
NÃºmero de dÃ­as: 28/29 dÃ­as

In [24]:
list_meses=["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto" , "septiembre", "octubre", "noviembre", "diciembre"]

In [31]:
print("Lista de meses: Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto , Septiembre, Octubre, Noviembre, Diciembre")
mes=input("Introduzca el nombre del mes: ")
if(mes=="Enero"):
    dias=31
elif(mes=="Febrero"):
    dias=28
elif(mes=="Marzo"):
    dias=31
elif(mes=="Abril"):
    dias=30
elif(mes=="Mayo"):
    dias=31
elif(mes=="Junio"):
    dias=30
elif(mes=="Julio"):
    dias=31
elif(mes=="Agosto"):
    dias=30
elif(mes=="Septiembre"):
    dias=31
if(mes=="Octubre"):
    dias=30
if(mes=="Noviembre"):
    dias=31
if(mes=="Diciembre"):
    dias=30
print("Numero de dias: ",dias,"dias")

Lista de meses: Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto , Septiembre, Octubre, Noviembre, Diciembre
Introduzca el nombre del mes: Enero
Numero de dias:  31 dias

# TALLER 1.5

1.Escribe un programa en Python para encontrar aquellos nÃºmeros que sean divisibles por 7 y mÃºltiplo de 5, entre 1500 y 2700 (ambos incluidos).

In [40]:
if 2700 > 1500:
    resultado=[]
    
    for i in range(1500,2700,+1):
        if (i % 7==0 and i % 5==0):
            resultado.append(i)
    
print(resultado)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

2.Escribe un programa en Python para adivinar un nÃºmero entre 1 y 9.
Nota: Se pide al usuario que introduzca un nÃºmero. Si el usuario se equivoca, el mensaje aparecerÃ¡ de nuevo hasta que la respuesta sea correcta. Si la respuesta es correcta, el usuario recibirÃ¡ un mensaje de "Â¡Bien adivinado!" y el programa saldrÃ¡.

In [50]:
numero=8
num_u=0
while (num_u!=numero):
    num_u=int(input("Elegir un numero entre 1-9: "))
        

print("Â¡Bien adivinado!")

Elegir un numero entre 1-9: 1
Elegir un numero entre 1-9: 2
Elegir un numero entre 1-9: 8
Â¡Bien adivinado!

3.Escribe un programa en Python para construir el siguiente patrÃ³n, utilizando un bucle for anidado.

In [67]:
n=5

for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end=" ")
    print("")
    
for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

4.Escribe un programa en Python que cuente el nÃºmero de nÃºmeros pares e impares de una serie de nÃºmeros.
NÃºmeros de ejemplo : nÃºmeros = (1, 2, 3, 4, 5, 6, 7, 8, 9) Salida esperada : NÃºmero de nÃºmeros pares : 5 NÃºmero de nÃºmeros impares : 4

In [69]:
cp=0
ci=0
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for n in numeros:
    if(n%2==0):
        cp+=1
    else:
        ci+=1

print("Numero de pares es: ",cp)
print("Numero de impares es: ",ci)

Numero de pares es:  4
Numero de impares es:  5

5.Escribe un programa en Python que imprima cada elemento y su tipo correspondiente de la siguiente lista.
Lista de ejemplo : datalist = [1452, 11.23, 1+2j, True, 'abc', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [72]:
datalist = [1452, 11.23, 1+2j, True, 'abc', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for d in datalist:
    print("El dato ",d," es ",type(d))

El dato  1452  es  <class 'int'>
El dato  11.23  es  <class 'float'>
El dato  (1+2j)  es  <class 'complex'>
El dato  True  es  <class 'bool'>
El dato  abc  es  <class 'str'>
El dato  (0, -1)  es  <class 'tuple'>
El dato  [5, 12]  es  <class 'list'>
El dato  {'class': 'V', 'section': 'A'}  es  <class 'dict'>

6.Escribe un programa en Python que obtenga la serie de Fibonacci entre 0 y 50.

In [78]:
from math import sqrt
def F(n):
    return ((1+sqrt(5))**n-(1-sqrt(5))**n)/(2**n*sqrt(5))

def Fibonacci(numero_menor, numero_mayor):
    n = 0
    cur = F(n)
    while cur <= numero_mayor:
        if numero_menor <= cur:
            print(round(cur))
        n += 1
        cur = F(n)
Fibonacci(0,50)

0
1
1
2
3
5
8
13
21
34

# TALLER 2.1

1.Escribe una funciÃ³n en Python para calcular el factorial de un nÃºmero (un entero no negativo). La funciÃ³n acepta el nÃºmero como argumento.
La funciÃ³n factorial es una fÃ³rmula matemÃ¡tica representada por el signo de exclamaciÃ³n "!". En la fÃ³rmula Factorial se deben multiplicar todos los nÃºmeros enteros y positivos que hay entre el nÃºmero que aparece en la fÃ³rmula y el nÃºmero 1.

In [129]:
def factorial(n):
    if n==0 or n==1:
            resultado=1
    elif n>1:
            resultado=n*factorial(n-1)
    return resultado


factor=factorial(5)

print(factor)

120

2.Escribe una funciÃ³n de Python para comprobar si un nÃºmero cae en un rango dado.

In [138]:
def rango(r1,r2,n):
    if (r1<n<r2):
            f="Esta en rango"
    else:
            f="No esta en rango"
    return f

r1=int(input("Digite R1: "))
r2=int(input("Digite R2: "))
n=int(input("Digite el numero a localizar: "))
rango(r1,r2,n)

Digite R1: 100
Digite R2: 150
Digite el numero a localizar: 151

'No esta en rango'

3.Escribe una funciÃ³n Python que acepte una cadena y calcule el nÃºmero de letras mayÃºsculas y minÃºsculas.

In [140]:
def cont_mayus_minus(cadena):
    cont={'Minusculas':0,'Mayusculas':0}
    
    for c in cadena:
        if c.isupper():
            cont['Mayusculas']+=1
        elif c.islower():
            cont['Minusculas']+=1
    return cont

cadena="Hola profesor de Dell Technology"

print(cont_mayus_minus(cadena))

{'Minusculas': 25, 'Mayusculas': 3}

# TALLER 2.2

1.Write a Python class named Student with two attributes student_name, marks. Modify the attribute values of the said class and print the original and modified values of the said attributes.

In [145]:
class Estudiante:
    nombre_estudiante = 'Luis Castillo'
    marcas = 93  
print(f"Nombre del estudiante: {getattr(Estudiante, 'nombre_estudiante')}")
print(f"Marcas: {getattr(Estudiante, 'marcas')}")
setattr(Estudiante, 'nombre_estudiante', 'Juan Gonzalez')
setattr(Estudiante, 'marcas', 95) 
print(f"Nombre del estudiante: {getattr(Estudiante, 'nombre_estudiante')}")
print(f"Marcas: {getattr(Estudiante, 'marcas')}")

Nombre del estudiante: Luis Castillo
Marcas: 93
Nombre del estudiante: Juan Gonzalez
Marcas: 95